@font-face {
    font-family: Aileron-Black;
    src: url('Aileron-Black.otf');
}


@font-face {
    font-family: Big Caslon Medium;
    src: url('Caslon335Medium Regular.ttf') format('truetype');
}

*:focus {outline: 0;}

/*colors og (red: #cf4436) (black: #212121) (white: #ffffff)*/

.active {
    color: #c14a39 !important;
}


html {
    height: 100vh;
}

.hidden {
    display: none !important;
}

html body {
    font-family: eb-garamond, sans-serif;    
    font-style: normal;
    font-weight: 400;
    background: #ffffff; /*#e5e3d9*/
    color: #0D0D0D; /*#474644*/
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    
}


html body #main {
    /*align-items: center;*/
    padding: 100px 0 0 0;
    margin: 0;
}

.wrapper {
    margin-left: 90px;
    margin-right: 90px;
    height: calc(100vh - 100px);
    overflow: hidden;
}

html body #main #main-inner { 
    overflow: hidden;
    width: calc(66.6666666667% - 40px);
    float: right;
    margin: 0 20px 0 20px;
    display: inline-block;
}

#menu {
    overflow: hidden;
    margin-bottom: 30px;
    z-index: 1;
}
    
    #menu ul{
        margin: 0;
        padding: 0;
    }

    #menu ul li {
        list-style-type: none;
        padding-right: 30px;
        float: left;
    }

    #menu a {
        color: #0D0D0D;
        font-family: "Aileron-Black";
        font-size: 30px;
        padding: 0;
        margin: 0;
        line-height: 20px;
    }

    #menu a:hover {
        text-decoration: none;
        color: #c14a39;

    }

#content-container {
    overflow: hidden;
    border-top: 2.7px solid #0D0D0D;
    border-bottom: 2.7px solid #0D0D0D;
    margin: 0;
    height: 0;
    padding: 0;
    transition: all 250ms ease;
    z-index: 2;
    position: relative;
    background-color: #ffffff;
    top: -200px;
}

h1 {
    font-family: "Aileron-Black";
    font-size: 36px;
    margin: 0;
    padding: 0

}

h2 {
    font-family: "Aileron-Black";
    font-size: 26px;
    margin: 0;
    padding: 0

}

h6 {
    text-align: left;
    font-size: 16px;
    line-height: 28px;
    font-family: "Aileron-Light";
    margin: 0 0 15px 0;
    width: auto;
    letter-spacing: 1px;

}

a {
    color: #c14a39;
    text-decoration: none;
    transition: all 500ms ease;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: all .5s ease;
    /*-webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease;*/
}

.vertical-bar h1 {
    font-family: "Aileron-Bold";
    font-weight: 500;
    font-size: 30px;
    line-height: 22px;
}

#name-content {
    display: none;
}

#about-content {
    display: none;
}

#work-content {
    calc(66.6666666667% - 40px);
    display: none;
}

.content {
    padding-top: 10px;
}

.margin {
    margin-right:10px;
}

.work-item-wrapper {
    border: 2.7px solid #0D0D0D;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    width: calc(50% - 11px);
}

.work-item {
    height: 400px;
    position: relative;
    padding: 10px;
}

.work-item h2 {
    height: 190px;
}

.work-item hr {
    border: 0;
    background: #0D0D0D;
    color: none;
    height: 2px;
    margin: 0 0 10px -60px;
    width: 150%;
}


#work-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

#work-list a {
    margin: 0;
    padding: 0;
    color: #0D0D0D;
}

#work-list a:hover {
    text-decoration: none;
}

#work-list li {
    display: inline-block;
    padding: 0;
}

.work-item {
    transform: translate3d(0px, 0px, 0px);
    transition: transform .35s ease-in-out;
}
.work-item:hover {
    transform: translate3d(0px, -202px, 0px);
}

#title-container {
    width: calc(25% - 40px);
    display: inline-block;
    margin: 0 20px 0 20px;
}


    #title-container #title {
        margin-bottom: 42.7px;
        line-height: 20px;
    }


    #title-container #title a {
        color: #0D0D0D;
        font-family: eb-garamond, sans-serif;       
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 30px;
    }

    #title-container #title a:hover {
        text-decoration: none;
        color: #c14a39;
    }

    #aux-info a {
        font-size: 16px;
        font-family: "Aileron-Regular";
        line-height: 28px;
    }

    #resume {
        padding-right: 100%;
    }

/* Nav Styles
---------------------------------*/

nav {
    background: #fff;
    display: block;
    height: 100%;
    overflow: auto;
    position: fixed;
    right: -120%;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    top: 0;
    width: 100%;
    z-index: 2000;
    border-left: solid 1px #e9f0f3;
    
    transition: right 0.3s ease-in-out 0s;
    -webkit-transition: right 0.3s ease-in-out 0s;
    -moz-transition: right 0.3s ease-in-out 0s;
    -o-transition: right 0.3s ease-in-out 0s;
}

.nav-expanded nav {
    right: 0;
}